@import "variables.less";

input.has-error {
  background-color: #F8BAB9;
  border-color: #b94a48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
div.logs-list {
  .tbl-title {
    text-align: center;
    font-weight: bold;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    div.log-item {
      margin-top: 5px;
      div.log-level {
        text-align: center;
      }
      border-top: 1px solid rgb(221, 221, 221);
      div.log-message {
        ul.log-details {
          list-style: none;
        }
      }
    }
    .detail pre {
      font-size: 0.9em;
    }
  }
}

.log-item.clickable {
  cursor: pointer;
  background-color: #FAFAEC;
  &:hover {
    background-color: #FAFAD2;
  }
}

input[type="checkbox"] {
  display:none;
}
h1.centered {
  text-align:center;
}
.badge {
  font-size: 12pt;
  font-weight: normal;
  &.selected {
    background-color: rgb(129, 129, 231);
  }
  &:hover, &:focus {
    cursor:pointer;
    background-color: #40ACA7;
  }
}
