<div class="row log-item">
  <div class="col-lg-1 log-level">
    <span class="label" ng-class="getClass()">{{item.level | uppercase}}</span>
  </div>
  <div class="col-lg-1 log-level">
    {{item.date | displayDate }}
  </div>
  <div class="col-lg-1 log-level">
    {{getIdentifier()}}
  </div>
  <div class="col-lg-9 log-message">
    <ul class="log-details">
      <li><span class="badge">{{itemCount()}}</span><strong>Erreur :</strong> {{item.message}} </li>
      <li> <strong>Url :</strong> {{item.url}} {{line()}} </li>
      <li> <strong>User-Agent :</strong> {{item.useragent}} </li>
    </ul>
  </div>
</div>

