<div class="logs col-lg-12">
  <div class="panel col-lg-12">
    <h1 class="centered">Ca marche chez moi!</h1>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div gauge></div>
      </div>
    </div>

    <hr />
    <form>
      <div class="row">
        <div class="col-lg-1"></div>
        <label class="col-lg-2" for="search.text">Message
          <input type="text" id="search.text" ng-model="search.text" placeholder="Search query ..." />
        </label>
        <label class="col-lg-2" for="search.url">Url
          <input type="text" id="search.url" ng-model="search.url" placeholder="Search url..." />
        </label>
        <label class="col-lg-2" for="search.identifier">Login or IP
          <input type="text" id="search.identifier" ng-model="search.identifier" placeholder="Search login/IP ..." />
        </label>
        <label class="col-lg-2" for="search.dateFrom">Date from
          <input type="text" id="dateFrom" ng-class="search.dateFromState" ng-model="search.dateFrom" placeholder="Date from DD/MM/YY HH:MM" date-f />
        </label>
        <label class="col-lg-2" for="search.dateTo">Date to
          <input type="text" id="dateTo" ng-class="search.dateToState" ng-model="search.dateTo" placeholder="Date to DD/MM/YY HH:MM" date-f />
        </label>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
          <label for="unique" class="badge" ng-class="{selected: search.unique==true}"><input name="unique" id="unique" type="checkbox" class="" ng-model="search.unique" />Unique</label>
        </div>
        <div class="col-lg-1">
          <label for="type-error" class="badge" ng-class="{selected: search.level.error==true}"><input name="type-error" id="type-error" type="checkbox" class="" ng-model="search.level.error" />Errors</label>
        </div>
        <div class="col-lg-1">
          <label for="type-info" class="badge" ng-class="{selected: search.level.info==true}"><input name="type-info" id="type-info" type="checkbox" class="" ng-model="search.level.info" />Info</label>
        </div>
        <div class="col-lg-1">
          <label for="type-trace" class="badge" ng-class="{selected: search.level.trace==true}"><input name="type-trace" id="type-trace" type="checkbox" class="" ng-model="search.level.trace" />Trace</label>
        </div>
        <button type="button" class="btn btn-danger" ng-click="coucou()">BOOM</button>
      </div>
    </form>

    <hr />

    <div class="logs-list">
      <div class="row">
        <div class="col-lg-1 tbl-title"></div>
        <div class="col-lg-1 tbl-title">Date</div>
        <div class="col-lg-1 tbl-title">Identifiant</div>
        <div class="col-lg-9 tbl-title">Error</div>
      </div>
      <br />
      <ul>
        <li ng-repeat="log in logs | filterLogs:search">
          <div log-item item="log"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
