<div class="logs col-lg-12">
  <h1>logs de la mort qui tue</h1>
  <div class="panel col-lg-12">
    <button type="button" class="btn btn-primary" ng-click="loadPrevious()">Load previous</button>
    <hr />
    <form>
      <div class="row">
        <input type="text" class="col-lg-2" ng-model="search.text" placeholder="Search query ..." />
        <input type="text" class="col-lg-2" ng-model="search.url" placeholder="Search url..." />
        <input type="text" class="col-lg-2" ng-class="search.dateToState" ng-model="search.identifier" placeholder="Search login/IP ..." />
        <input type="text" class="col-lg-2" ng-class="search.dateFromState" ng-model="search.dateFrom" placeholder="Date from DD/MM/YY HH:MM" date-f />
        <input type="text" class="col-lg-2" ng-model="search.dateTo" placeholder="Date to DD/MM/YY HH:MM" date-f />
      </div>
      <div class="row">
        <div class="col-lg-1">
          <label for="unique"><input name="unique" id="unique" type="checkbox" class="" ng-model="search.unique" />Unique</label>
        </div>
        <div class="col-lg-1">
          <label for="type-error"><input name="type-error" id="type-error" type="checkbox" class="" ng-model="search.level.error" />Errors</label>
        </div>
        <div class="col-lg-1">
          <label for="type-info"><input name="type-info" id="type-info" type="checkbox" class="" ng-model="search.level.info" />Info</label>
        </div>
        <div class="col-lg-1">
          <label for="type-trace"><input name="type-trace" id="type-trace" type="checkbox" class="" ng-model="search.level.trace" />Trace</label>
        </div>
      </div>
    </form>

    <hr />

    <div class="logs-list">
      <div class="col-lg-1 tbl-title"></div>
      <div class="col-lg-1 tbl-title">Date</div>
      <div class="col-lg-1 tbl-title">Identifiant</div>
      <div class="col-lg-9 tbl-title">Error</div>
      <br />
      <ul>
        <li ng-repeat="log in logs | filterLogs:search">
          <div log-item item="log"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
